*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}



.container{
    /*Definindo a altura*/
    height: 100vh;

    display: flex;
    /*alinhamento horizontal*/
    justify-content: space-around;
    /*alinhamento vertical*/
    align-items: center;

    

    
}

.card{
    /*Cor do texto*/
    color: white;
    /*Disposição*/
    display: flex;
    /*Alinhamento*/
    justify-content: center;
    align-items: center;
    /*Dimensionamento*/
    width: 15%;
    height: 200px;

    font-size: 50pt;
    background-color:blue;
    border: 2px solid black;
}

#d1{
    order: 1;
}

#d2{
    order: 0;
}
#d3{
    order: 2;
}
#d4{
    order: 3;
}
